body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

h1
  text-align: center

.no-display
  display: none

.hidden
  visibility: hidden

.card, .cloth
  display: block
  overflow: hidden
  margin: 4px 4px
  padding: 8px 8px
  zoom: 1
  text-shadow: 0 1px 0 white
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  -ms-border-radius: 6px
  -o-border-radius: 6px
  border-radius: 6px

.card  h1, .card h2, .card h3, .cloth  h1, .cloth h2, .cloth h3
  margin: 8px 0 0 0
  text-align: center
  border: 0

.card
  background-color: rgba(255,255,255,0.94)

.cloth
  background-color: rgba(255,255,255,0.28)

.cut
  background-color: white
  padding: 8px
  margin: 8px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  -ms-border-radius: 5px
  -o-border-radius: 5px
  border-radius: 5px

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15)
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.15)
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.15)
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
  border: #DDD 1px solid
  border-top-color: #EEE
  border-bottom-color: #BBB

.tweet a
  color:#999
  text-decoration:none

.tweet a:hover
  text-decoration:underline

.tweet
  position: relative
  padding:12px

.tweet .vcard.author
  position: relative
  display: block
  min-height: 35px
  overflow:hidden
  margin-top: -2px
  text-shadow: none
  font: normal normal normal 12px/16px "Helvetica Neue",Arial,sans-serif

.tweet .vcard.author .avatar
  position:absolute
  top:1px
  left: 0px
  width:32px
  height: 32px

.tweet .vcard.author .avatar img
  width:32px
  height: 32px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  -ms-border-radius: 5px
  -o-border-radius: 5px
  border-radius: 5px          

.tweet .vcard.author .fn{
      float:left
      padding-left: 42px
      color: #333
      font-weight: bold
      font-size: 14px
      line-height: 18px
    }
.tweet .vcard.author a:hover .fn
  text-decoration: underline

.tweet .vcard.author .screen-name
  clear:both
  float:left
  padding-left: 42px
  display: block
  line-height:18px

.tweet .entry
  display: block
  font-size: 16px
  margin: 7px 5px 6px 0

.tweet .footer
  padding-top: 2px
  width: 90%
  bottom: 8px
  font: normal normal normal 12px/16px "Helvetica Neue",Arial,sans-serif
  color:#999

.tweet .footer .how-long-ago
  color: #0084B4
  display: inline-block

.tweet .footer .location
  float: right
  color: #B40202

.tweet .footer .view-details
  float: right
